@import '~themes/colors.scss';
@import '~themes/mixins.scss';

.content {
    @include content-wrapper();
    text-align: center;
}

.content > p {
    font-size: 1.4em;
}

.content > div > p {
    font-size: 4em;
    color: $accent-color;
}


.button {
    @include button(90px);
    width: 40% !important;
    max-width: 300px;
    margin-top: 40px;
}

.number {
  flex:0;
  text-align: center;
}

.number > p {
    font-size: 4em;
    color: $accent-color;
}

.progressInfoWraper{
    color: $accent-color;
}
