$accent-color: #5C99CF;
$page-text-color: #333;
$text-error-color: #F44336;
$input-text-error: #F44336;
$input-text-success: #3F7840;
$background-color: #F8FAFA;
$border-color:  #9E9E9E;
$loading-background-color: rgba(25, 25, 25, 0.75);
$loading-border-color: #F3F3F3; /* Light grey */
$loading-border-top: #5C99CF; /* Blue */
$box-shadow-color: #888;
$tab-border-color: #E0E0E0;
$tab-active-color: #000;
$pb-wrapper-background-color: #F5F5F5;
$pb-background-color: #5492C7;
$select-icon-color: #6495ED;
$select-background-color: #f8f8f8;
$icon-border-bottom-color: #ddd;
$switch-background-color: #AAA;
$switchon-bg-color: #74B4EC;
$switchon-afterbg-color: #5C99CF;
$switchoff-bg-color: #888;
$navbar-bg-color: #2196F3;
$navbar-color: #FFF;
$usermenu-border-color: #BDBDBD;
$footer-color: #5492C7;
$questioncheckbox-border-color: #9b9b9b;
$choice-select-color: #2196F3;
$choice-border-color: #E0E0E0;
$grey-template-color: #F5F5F5;
$textbox-border-color: #E5E5E5;
$link-button-color: #5C99CF;
$meds-box-shadow-color: #CCC;
$header-border-bottom-color: #E5E5E5;
$cancel-button-color: #03A9F4;
$submit-button-color: #0DA4C5;
$submit-button-text-color: #FFFFFF;
$finalscreen-border-color: #000;
$selected-doctor-bg-color: rgba(0, 0, 0, 0.1);
$selected-doctor-border-color: #000000;
$radio-choice-color: #999;
$confirm-box-shadow-color: #555;
$confirm-border-color: #EEE;
$newreg-media-color: #FFF;
$progress-inactive-color: #888;
$label-color: #344559;
$title-color:#0E849E;
