$primary_color: #0DA4C5; //
$font_color: #344559; // Txt color
$link_color: #0D819A;

$default_font: 'Nunito Sans' !important;
$default_font_size: 1.125em; // 1.125em is equal to 18px
$default_spacing: .5em;
$max_width: 1200px;
