@import '~themes/colors.scss';
@import '~themes/mixins.scss';
@import '~themes/global.scss'; 
@import '~themes/css/styles.scss';


.content {
    @include content-wrapper(); 
    text-align: center; 
    color: #344559;	
    font-family: Nunito Sans;
}

.content a {
    color: $accent-color;
}

.content a:hover {
    color: $accent-color;
    text-decoration: none;
}

.formLabel {
    padding: 0px;
    margin: 0px; 
    text-align: left;
    color: #2F758C;
    font-size: 14px; 
    text-align: justify; 
    font-family: Nunito Sans;
}
  

.componentGapLeft {
    padding: 0px;
    padding-left: 20px;
}
.headingText{ 
    color: #11839E;
    font-family: "Nunito Sans";	
    font-size: 24px;
    font-weight: 600;	
    line-height: 41px;  
    font-weight: bold;
 }

 .empty{
    width: 100%;
    height: 30px;
}


.formWrapper {
    border: 0px solid $accent-color;
    padding: 0px 0px;
    max-width: 650px;
    margin: 10px auto;
}

.formWrapper div {
    margin: 10px 0;
}
 
.formWrapper input {
    height: 50px !important;
}

.formHint {
    color: $box-shadow-color;
    font-size: 0.9em;
    text-align: left !important;
}

.formHint ul {
    list-style: none;
} 
   
.textError {
    @include global-text-error();
}

.noppCheckBoxWrapper{
    padding-left: 30px; 
    font-family: Nunito Sans;
    font-size: 20px;
    line-height: 20px; 
}
.noppCheckBoxWrapper span:last-child {
    color: $accent-color; 
    font-family: Nunito Sans;
    cursor: pointer; 
    line-height: 30px;
    font-size: 20px;
}

.noppCheckBoxWrapper span:last-child:hover {
    color: darken($accent-color,6%);
} 
  

.loginText{
    color:  #0DA4C5;
    height: 32px;	 
    font-family: Nunito Sans;
    font-size: 26px;	
    font-weight: bold;
    line-height: 35px; 
    cursor:pointer; 
    text-decoration: underline; 
}
.loginText a{ 
    color:  #0DA4C5;
}

 
.buttonWrapper button {
    font-family: Nunito Sans;
    height: 91px; 
    border-radius: 45.5px;
    background-color: #0DA4C5;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.38); 
    font-size: 22px; 
    color: #FFFFFF;  
    font-weight: 800;
    line-height: 30px;

}